{% extends "szablon.html"%}
{% block tytul%}Uczniowie – Lista{% endblock%}
{% block h1%} Klasy {% endblock%}
{% block tresc%}

<div class="row">
    <div class="col-lg-8 mx-auto">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Imie</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">Płeć</th>
                    <th scope="col">Klasa</th>
                </tr>
            </thead>
            <tbody>
                {% for s in uczen %}
                <tr>
                    <th scope="row">{{s}}</a></th>
                    <td>{{s.imie}}</td>
                    <td>{{s.nazwisko}}</td>
                    <td>{{s.plec}}</td>
                    <td>{{s.klasa}}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>

    </div>
</div>

{% endblock%}
