{% extends "szablon.html"%}
{% block tytul%}Uczniowie – Lista{% endblock%}
{% block h1%} Klasy {% endblock%}
{% block tresc%}


<div class="row">
    <div class="col-lg-6 mx-auto">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <th scope="col">id</th>
                <th style="width:25%;" scope="col">Klasa</th>
                </tr>
            </thead>
            <tbody>
                {% for c in klasa %}
                <tr>
                    <th scope="row">{{c}}</th>
                    <td style="width:25%;">{{c.klasa}}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>

    </div>
</div>




{% endblock%}
